name: Merge Label Check

on:
  pull_request:
    types: [ labeled, unlabeled ]

jobs:
  check-label:
    name: Merge Label
    runs-on: ubuntu-latest
    steps:
    - name: Check for merge label
      uses: actions/github-script@v7
      with:
        script: |
          const labels = context.payload.pull_request.labels.map(l => l.name);
          if (!labels.includes('merge')) {
            core.setFailed('Add "merge" label when ready to merge.');
          }

